* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.page-wrap {
    color: {{ theme.text_color.color }};
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 1rem;
    min-height: 100vh;
}

header {
    text-transform: uppercase;
    letter-spacing: .3em;
    background-color: #eee;
    background: url({{ get_asset_url('../images/template-previews/home.jpg') }}) 0 39% no-repeat #333;
    background-size: cover;
    color: #fff;
    padding: 1em 50% 1em 2em;
    margin-bottom: 3em;
}