<section id="team" class="team">
  <div class="container p-0">
    <div class="section-title">

    </div>
    <div class="row">
      {% for member in module.members_group %}
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img class="img-fluid" src="{{ member.image_field.src }}" alt="{{ member.image_field.alt }}">
          </div>
          <div class="member-info">
            <h4>{{ member.name_field }}</h4>
            <span>{{ member.profession_field }}</span>
            <p>{{ member.intro_field }}</p>

            {% if member.social_group %}
            <div class="social">
              {% for link in member.social_group %}
                <a href="{{ link.url_field.href }}" target="_blank">
                  {{ link.icon }}
                </a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>