<section
  id="team"
  class="team"
  style="background-color: rgba({{ module.background_section.color|convert_rgb }}, {{ module.background_section.opacity / 100 }});"
>
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title">
      <h2>{% inline_text field="title" value="{{ module.title }}" %}</h2>
      {% inline_text field="intro" value="{{ module.intro }}" %}
    </div>
    <div class="row">
      {% for team in module.team_group %}
      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start aos-init aos-animate"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img
              class="img-fluid"
              src="{{ team.image_field.src }}"
              alt="{{ team.image_field.alt }}"
            />
          </div>
          <div class="member-info">
            <h4>{{ team.name_field }}</h4>
            <span>{{ team.profession_field }}</span>
            <p>{{ team.intro_field }}</p>

            {% if team.social_group %}
            <div class="social">
              {% for link in team.social_group %}
              <a href="{{ link.url_field.href }}" target="_blank">
                {{ link.icon }}
              </a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
