<!--
    templateType: global_partial
    label: Website header
-->

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        {# Header logo column #}
        <h1 class="logo me-auto">
            <a href="/">{% module "text" path="@hubspot/text" value="Cars" %}</a>
        </h1>
        {# End header logo column #}

        {# Header navigation column #}
        {% module 'navigation-primary' path='../../modules/menu-section', label='Primary navigation' %}
        {# End header navigation column #}

    </div>
</header>

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                {% module "rich_text" path="@hubspot/rich_text" %}
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                {% module "linked_image" path="@hubspot/linked_image" %}
            </div>
        </div>
    </div>
</section>
